root = true

[*]
end_of_line = lf

[*.{c,cc,cpp,h,hh,txt,md}]
charset = utf-8

[*.{c,cc,cpp,h,hh}]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,cc,cpp,h,hh,txt}]
indent_style = space
indent_size = 4

[*.{md}]
trim_trailing_whitespace = false
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4
