{
	order cache after rewrite
	order cache after header

	servers :8080 {
		name metrics
		metrics
	}

	servers :443 {
		name proxy
		metrics
	}

	servers :444 {
		name clients
		metrics
	}

	cache {
		allowed_http_verbs GET
	}
}

:8080 {
	metrics /metrics
}

:80 {
	redir https://{host}{uri}
}

:443 {
	# use a certificate from a globally trusted CA here during production.
	tls /cert.pem /privkey.pem
	# ignore the Cache-Control request header,
	# so HTTP clients cannot circumvent the cache.
	request_header -Cache-Control
	handle /ws {
		respond 401
	}
	handle {
		cache {
			key {
				disable_body
				disable_host
				disable_method
				# the query is never forwarded to the client.
				# it should not be possible to circumvent the cache
				# by using meaningless query parameters.
				disable_query
				disable_scheme
				headers Content-Type
				hide
			}
			default_cache_control no-store
		}
		reverse_proxy loon:80
	}
}

:444 {
	tls /cert.pem /privkey.pem
	handle /ws {
		basic_auth bcrypt {
			{$HTTP_WS_USER} {$HTTP_WS_PASS_BCRYPT}
		}
		reverse_proxy loon:80
	}
	handle {
		respond 401
	}
}
