{
	order cache before rewrite
	order cache after header

	cache {
		allowed_http_verbs GET
		api {
			basepath /api/caddy/cache
		}
		key {
			disable_body
			disable_host
			disable_method
			# the query is never forwarded to the client.
			# it should not be possible to circumvent the cache with a query.
			disable_query
			disable_scheme
			headers Content-Type
			hide
		}
		regex {
			exclude /ws.*
		}
		stale 200s
		ttl 5s
		default_cache_control no-store
	}
}

:80 {
	basic_auth /ws bcrypt {
		{$HTTP_WS_USER} {$HTTP_WS_PASS_BCRYPT}
	}
	cache
	reverse_proxy loon:80
}
