{
	order cache after rewrite
	order cache after header

	cache {
		allowed_http_verbs GET
		api {
			basepath /api/caddy/cache
		}
	}
}

:80 {
	handle /ws {
		basic_auth bcrypt {
			{$HTTP_WS_USER} {$HTTP_WS_PASS_BCRYPT}
		}
		reverse_proxy loon:80
	}
	handle {
		cache {
			key {
				disable_body
				disable_host
				disable_method
				# the query is never forwarded to the client.
				# it should not be possible to circumvent the cache
				# by using meaningless query parameters.
				disable_query
				disable_scheme
				headers Content-Type
				hide
			}
			default_cache_control no-store
		}
		reverse_proxy loon:80
	}
}
