[submodule "clients/third_party/googletest"]
	path = client/third_party/googletest
	url = git@github.com:google/googletest.git
	branch = v1.14.x
[submodule "clients/third_party/libhv"]
	path = client/third_party/libhv
	url = git@github.com:ithewei/libhv.git
	tag = v1.3.2
	ignore = dirty
